/*
	Title : vogle.com CSS
	Date : 2013.05.21
	Developer : synes | nes.vogle.com
*/

@charset "utf-8";

html {
	padding:0;
	margin-left:15px;
	margin-right:15px;
	height:100%;

}

body{
	margin:0;
	padding:0;
	width: 100%; height: 100%;
	font: 10px Verdana, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:#999;
	background:#434343;
}

.wrapper {
	width: 100%; height: 100%;
	padding-left: 15px;
	padding-right: 15px;
}
.content-left {
  border:1px solid #ffffff;
}
.content-main {
  border:1px solid #ffffff;
}
