<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>TEAM★VOGLE :: {{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <meta name="keywords" content="vogle,vogle.com,synes,nes,progray,web,program,system,develop" />
        <meta name="description" content="Innovator vogle" />
        <meta name="Author" content="synes, http://nes.vogle.com" />
        
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="/css/bootstrap.css">
        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/vstyle.css">
        
        <!-- jQuery -->
        <!--[if lt IE 9]><script src="/js/jquery-1.9.1.min.js"></script><!--<![endif]-->
        <!--[if (gte IE 9)|!(IE)]><!--><script src="/js/jquery-2.0.0.min.js"></script><!--<![endif]-->
        <!-- jQuery Migrate  
        <script src="/js/jquery-migrate-1.2.1.min.js"></script>
        -->
        <!-- MD5 Script -->
        <script type="text/javascript" src="/js/md5.min.js"></script>
        <!-- BootStrap Script -->
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>
        
        <!-- Favicons -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="/ico/apple-touch-icon-57-precomposed.png">
        <link rel="shortcut icon" href="/ico/favicon.png">
        
        
    </head>
    <body>
    
        <div class="row show-grid">
            <div class="content-main col col-lg-9 col-push-3">main</div>
            <div class="content-left col col-lg-3 col-pull-9">left</div>
        </div>
        

    
    </body>
</html>
